.form-field {
    width: 100%;
    margin-bottom: 16px;

    &__label{
        color: #7A7A7A;
        margin-bottom: 12px;
    }

    &__input{
        height: 56px;
        width: 100%;
        padding: 0 18px;
        border: 1px solid #DEDCDC;
        font-size: 18px;
        font-family: 'SourceSansPro';
    }
}